<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="utf-8"/>
<title>Gestion des Produits</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 
<link href="../static/css/style.css" rel="stylesheet"
type="text/css" th:href="@{css/style.css}" />
</head>
<body>
 index

<section layout:fragment="content">

</section>

<footer class="navbar-fixed-bottom">
<hr/>
<div class="container">
<small>Copyright @2020</small>
</div>
</footer>
</body>
</html>